# Ignore these files when committing to git

**/__pycache__
**/.ipynb_checkpoints
**.DS_Store
**.pyc
**.idea**
**logs**
behavior_analysis/data**
behavior_analysis/gifs**
task/stimulus_plotting/plots**